
# Working with a real world data-set using SQL and Python

## Objectives

*   Understand the dataset for Chicago Public School level performance
*   Store the dataset in an Db2 database on IBM Cloud instance
*   Retrieve metadata about tables and columns and query data from mixed case columns
*   Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

Now review some of its contents.

### Store the dataset in a Table

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

In [ ]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

In [3]:
%load_ext sql

In [4]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
%sql ibm_db_sa://zzy63770:tgHDuJUWEQEbrjX0@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb?security=SSL

### Query the database system catalog to retrieve table metadata

##### We can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [5]:
# type in query to retrieve list of all tables in the database for your db2 schema (username)
%sql SELECT * FROM SYSCAT.TABLES WHERE TABSCHEMA = 'ZZY63770'

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('ZZY63770', 'SPACEXDATASET', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 1, 21, 6, 1, 2, 527688), datetime.datetime(2022, 1, 21, 6, 1, 2, 527688), datetime.datetime(2022, 1, 21, 6, 1, 2, 527688), None, 10, 19, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2022, 1, 21, 6, 1, 2, 527688), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(2022, 1, 21), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'TEST', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 9, 24, 11, 15, 57, 857122), datetime.datetime(2021, 9, 24, 11, 15, 57, 857122), datetime.datetime(2021, 9, 24, 11, 15, 57, 857122), None, 2, 4, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 9, 24, 11, 15, 57, 857122), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'PETSALE', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 9, 24, 11, 18, 43, 393566), datetime.datetime(2021, 9, 24, 11, 35, 45, 151213), datetime.datetime(2021, 9, 24, 11, 35, 45, 151218), None, 5, 5, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 9, 24, 11, 18, 43, 393566), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(2021, 9, 24), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'EMPLOYEES', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 9, 28, 5, 39, 57, 197603), datetime.datetime(2021, 9, 28, 5, 39, 57, 275640), datetime.datetime(2021, 9, 28, 5, 39, 57, 275647), None, 11, 6, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 9, 28, 5, 39, 57, 197603), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'JOB_HISTORY', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 9, 28, 5, 39, 57, 285184), datetime.datetime(2021, 9, 28, 5, 39, 57, 362477), datetime.datetime(2021, 9, 28, 5, 39, 57, 362484), None, 4, 7, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 2, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 9, 28, 5, 39, 57, 285184), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(2021, 9, 28), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'JOBS', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 9, 28, 5, 39, 57, 373767), datetime.datetime(2021, 9, 28, 5, 39, 57, 512856), datetime.datetime(2021, 9, 28, 5, 39, 57, 512863), None, 4, 8, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 9, 28, 5, 39, 57, 373767), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(2021, 9, 28), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'DEPARTMENTS', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 9, 28, 5, 39, 57, 525033), datetime.datetime(2021, 9, 28, 5, 39, 57, 635823), datetime.datetime(2021, 9, 28, 5, 39, 57, 635830), None, 4, 9, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 9, 28, 5, 39, 57, 525033), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(2021, 9, 28), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'LOCATIONS', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 9, 28, 5, 39, 57, 647611), datetime.datetime(2021, 9, 28, 5, 39, 57, 724268), datetime.datetime(2021, 9, 28, 5, 39, 57, 724276), None, 2, 10, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 2, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 9, 28, 5, 39, 57, 647611), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(2021, 9, 28), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'PETRESCUE', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 9, 28, 13, 45, 22, 315632), datetime.datetime(2021, 9, 28, 13, 45, 31, 135109), datetime.datetime(2021, 9, 28, 13, 45, 31, 135122), None, 5, 11, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 9, 28, 13, 45, 22, 315632), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(2021, 9, 28), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'INSTRUCTOR', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 10, 3, 9, 7, 36, 936513), datetime.datetime(2021, 10, 3, 9, 7, 37, 99182), datetime.datetime(2021, 10, 3, 9, 7, 37, 99187), None, 5, 12, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 10, 3, 9, 7, 36, 936513), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(2021, 10, 3), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'INTERNATIONAL_STUDENT_TEST_SCORES', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 10, 3, 10, 59, 49, 862717), datetime.datetime(2021, 10, 3, 10, 59, 49, 862717), datetime.datetime(2021, 10, 3, 10, 59, 49, 862717), None, 4, 13, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 10, 3, 10, 59, 49, 862717), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(2021, 10, 3), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'CHICAGO_SOCIOECONOMIC_DATA', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 10, 3, 13, 49, 38, 853560), datetime.datetime(2021, 10, 3, 13, 49, 38, 853560), datetime.datetime(2021, 10, 3, 13, 49, 39, 561180), None, 10, 14, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 10, 3, 13, 49, 38, 853560), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(2021, 10, 4), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'SCHOOLS', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 10, 4, 5, 22, 14, 590946), datetime.datetime(2021, 10, 4, 5, 54, 0, 656735), datetime.datetime(2021, 10, 4, 5, 54, 0, 656740), None, 78, 15, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 10, 4, 5, 22, 14, 590946), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(2021, 10, 4), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'CENSUS_DATA', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 10, 4, 16, 41, 59, 785135), datetime.datetime(2021, 10, 4, 16, 41, 59, 785135), datetime.datetime(2021, 10, 4, 16, 41, 59, 785135), None, 9, 16, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 10, 4, 16, 41, 59, 785135), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(2021, 10, 4), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'CHICAGO_PUBLIC_SCHOOLS', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 10, 4, 16, 48, 1, 654890), datetime.datetime(2021, 10, 4, 16, 48, 1, 654890), datetime.datetime(2021, 10, 4, 16, 48, 1, 654890), None, 78, 18, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 10, 4, 16, 48, 1, 654890), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(2021, 10, 4), ' ', 'N', 'R', 'N', -1.0, None),
 ('ZZY63770', 'CHICAGO_CRIME_DATA', 'ZZY63770', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2021, 10, 4, 17, 23, 49, 463946), datetime.datetime(2021, 10, 4, 17, 23, 49, 463946), datetime.datetime(2021, 10, 4, 17, 23, 49, 463946), None, 21, 17, 1066, -1, -1, -1, -1, -1, -1, -1, -1, 'ZZY63770SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2021, 10, 4, 17, 23, 49, 463946), 0, ' ', None, None, 'N', 'ZZY63770', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'R', 'N', -1.0, None)]

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [7]:
# type in query to retrieve the number of columns in the SCHOOLS table
%sql select count(*) from SYSCAT.COLUMNS where tabname = 'SCHOOLS'

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(78,)]

Now retrieving list of columns in SCHOOLS table and their column type (datatype) and length.

In [13]:
# type in query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql select colname, typename, length from SYSCAT.COLUMNS where tabname = 'SCHOOLS'

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('SCHOOL_ID', 'INTEGER', 4),
 ('NAME_OF_SCHOOL', 'VARCHAR', 64),
 ('SCHOOL_TYPE', 'VARCHAR', 2),
 ('STREET_ADDRESS', 'VARCHAR', 29),
 ('CITY', 'VARCHAR', 7),
 ('STATE', 'VARCHAR', 2),
 ('ZIP_CODE', 'INTEGER', 4),
 ('PHONE_NUMBER', 'VARCHAR', 14),
 ('LINK', 'VARCHAR', 78),
 ('NETWORK_MANAGER', 'VARCHAR', 40),
 ('COLLABORATIVE_NAME', 'VARCHAR', 34),
 ('ADEQUATE_YEARLY_PROGRESS_MADE_', 'VARCHAR', 3),
 ('TRACK_SCHEDULE', 'VARCHAR', 12),
 ('CPS_PERFORMANCE_POLICY_STATUS', 'VARCHAR', 16),
 ('CPS_PERFORMANCE_POLICY_LEVEL', 'VARCHAR', 15),
 ('HEALTHY_SCHOOL_CERTIFIED', 'VARCHAR', 3),
 ('SAFETY_ICON', 'VARCHAR', 11),
 ('SAFETY_SCORE', 'SMALLINT', 2),
 ('FAMILY_INVOLVEMENT_ICON', 'VARCHAR', 11),
 ('FAMILY_INVOLVEMENT_SCORE', 'VARCHAR', 3),
 ('ENVIRONMENT_ICON', 'VARCHAR', 11),
 ('ENVIRONMENT_SCORE', 'SMALLINT', 2),
 ('INSTRUCTION_ICON', 'VARCHAR', 11),
 ('INSTRUCTION_SCORE', 'SMALLINT', 2),
 ('LEADERS_ICON', 'VARCHAR', 4),
 ('LEADERS_SCORE', 'VARCHAR', 3),
 ('TEACHERS_ICON', 'VARCHAR', 11),
 ('TEACHERS_SCORE', 'VARCHAR', 3),
 ('PARENT_ENGAGEMENT_ICON', 'VARCHAR', 7),
 ('PARENT_ENGAGEMENT_SCORE', 'VARCHAR', 3),
 ('PARENT_ENVIRONMENT_ICON', 'VARCHAR', 7),
 ('PARENT_ENVIRONMENT_SCORE', 'VARCHAR', 3),
 ('AVERAGE_STUDENT_ATTENDANCE', 'VARCHAR', 6),
 ('RATE_OF_MISCONDUCTS__PER_100_STUDENTS_', 'DECIMAL', 5),
 ('AVERAGE_TEACHER_ATTENDANCE', 'VARCHAR', 6),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE', 'VARCHAR', 7),
 ('PK_2_LITERACY__', 'VARCHAR', 4),
 ('PK_2_MATH__', 'VARCHAR', 4),
 ('GR3_5_GRADE_LEVEL_MATH__', 'VARCHAR', 4),
 ('GR3_5_GRADE_LEVEL_READ__', 'VARCHAR', 4),
 ('GR3_5_KEEP_PACE_READ__', 'VARCHAR', 4),
 ('GR3_5_KEEP_PACE_MATH__', 'VARCHAR', 4),
 ('GR6_8_GRADE_LEVEL_MATH__', 'VARCHAR', 4),
 ('GR6_8_GRADE_LEVEL_READ__', 'VARCHAR', 4),
 ('GR6_8_KEEP_PACE_MATH_', 'VARCHAR', 4),
 ('GR6_8_KEEP_PACE_READ__', 'VARCHAR', 4),
 ('GR_8_EXPLORE_MATH__', 'VARCHAR', 4),
 ('GR_8_EXPLORE_READ__', 'VARCHAR', 4),
 ('ISAT_EXCEEDING_MATH__', 'DECIMAL', 4),
 ('ISAT_EXCEEDING_READING__', 'DECIMAL', 4),
 ('ISAT_VALUE_ADD_MATH', 'DECIMAL', 3),
 ('ISAT_VALUE_ADD_READ', 'DECIMAL', 3),
 ('ISAT_VALUE_ADD_COLOR_MATH', 'VARCHAR', 6),
 ('ISAT_VALUE_ADD_COLOR_READ', 'VARCHAR', 6),
 ('STUDENTS_TAKING__ALGEBRA__', 'VARCHAR', 4),
 ('STUDENTS_PASSING__ALGEBRA__', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR', 4),
 ('10th Grade PLAN (2009)', 'VARCHAR', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR', 4),
 ('NET_CHANGE_EXPLORE_AND_PLAN', 'VARCHAR', 3),
 ('11th Grade Average ACT (2011)', 'VARCHAR', 4),
 ('NET_CHANGE_PLAN_AND_ACT', 'VARCHAR', 3),
 ('COLLEGE_ELIGIBILITY__', 'VARCHAR', 4),
 ('GRADUATION_RATE__', 'VARCHAR', 4),
 ('COLLEGE_ENROLLMENT_RATE__', 'VARCHAR', 4),
 ('COLLEGE_ENROLLMENT', 'SMALLINT', 2),
 ('GENERAL_SERVICES_ROUTE', 'SMALLINT', 2),
 ('FRESHMAN_ON_TRACK_RATE__', 'VARCHAR', 4),
 ('X_COORDINATE', 'DECIMAL', 13),
 ('Y_COORDINATE', 'DECIMAL', 13),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NAME', 'VARCHAR', 22),
 ('WARD', 'SMALLINT', 2),
 ('POLICE_DISTRICT', 'SMALLINT', 2),
 ('LOCATION', 'VARCHAR', 27)]

##### Number of Elementary Schools  in the dataset

In [15]:
%sql select count(*) from SCHOOLS where SCHOOL_TYPE = 'ES'

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(462,)]


##### Calculating highest Safety Score

In [16]:
%sql select max(SAFETY_SCORE) from SCHOOLS

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(99,)]



#####  Calculating which schools have highest Safety Score?

In [17]:
%%sql 
select NAME_OF_SCHOOL, SAFETY_SCORE as MAX_SAFETY_SCORE from SCHOOLS
where SAFETY_SCORE = (select max(SAFETY_SCORE) from SCHOOLS)

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Abraham Lincoln Elementary School', 99),
 ('Alexander Graham Bell Elementary School', 99),
 ('Annie Keller Elementary Gifted Magnet School', 99),
 ('Augustus H Burley Elementary School', 99),
 ('Edgar Allan Poe Elementary Classical School', 99),
 ('Edgebrook Elementary School', 99),
 ('Ellen Mitchell Elementary School', 99),
 ('James E McDade Elementary Classical School', 99),
 ('James G Blaine Elementary School', 99),
 ('LaSalle Elementary Language Academy', 99),
 ('Mary E Courtenay Elementary Language Arts Center', 99),
 ('Northside College Preparatory High School', 99),
 ('Northside Learning Center High School', 99),
 ('Norwood Park Elementary School', 99),
 ('Oriole Park Elementary School', 99),
 ('Sauganash Elementary School', 99),
 ('Stephen Decatur Classical Elementary School', 99),
 ('Talman Elementary School', 99),
 ('Wildwood Elementary School', 99)]

##### Top 10 schools with the highest "Average Student Attendance"

In [25]:
# %%sql
# select NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE from SCHOOLS 
# WHERE AVERAGE_STUDENT_ATTENDANCE <> 'None'
# ORDER BY AVERAGE_STUDENT_ATTENDANCE DESC
# LIMIT 10

%sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

##### Retrieving the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [28]:
# %sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
#     order by Average_Student_Attendance asc nulls last limit 5

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%')]


##### Remove the '%' sign from the above result set for Average Student Attendance column

In [36]:
%sql select replace((Average_Student_Attendance), '%', '') from SCHOOLS

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('96.00',),
 ('95.60',),
 ('95.70',),
 ('95.50',),
 ('93.30',),
 ('97.00',),
 ('96.30',),
 ('94.70',),
 ('92.70',),
 ('96.40',),
 ('96.30',),
 ('92.50',),
 ('95.30',),
 ('92.50',),
 ('94.90',),
 ('90.10',),
 ('94.60',),
 ('95.60',),
 ('80.30',),
 ('96.90',),
 ('96.30',),
 ('94.30',),
 ('91.40',),
 ('95.40',),
 ('94.60',),
 ('97.40',),
 ('91.80',),
 ('97.50',),
 ('94.60',),
 ('90.50',),
 ('95.50',),
 ('94.20',),
 ('92.80',),
 ('90.80',),
 ('94.80',),
 ('96.10',),
 ('87.90',),
 ('92.10',),
 ('95.50',),
 ('96.50',),
 ('76.00',),
 ('90.50',),
 ('70.10',),
 ('92.10',),
 ('60.90',),
 ('95.30',),
 ('83.70',),
 ('91.30',),
 ('95.50',),
 ('93.00',),
 ('88.90',),
 ('94.70',),
 ('80.20',),
 ('94.20',),
 ('90.60',),
 ('96.30',),
 ('92.30',),
 ('95.50',),
 ('94.90',),
 ('96.50',),
 ('81.20',),
 ('95.80',),
 ('91.70',),
 ('94.80',),
 ('91.90',),
 ('95.10',),
 ('86.00',),
 ('94.40',),
 ('95.70',),
 ('95.30',),
 ('93.40',),
 ('92.00',),
 ('94.90',),
 ('92.70',),
 ('79.20',),
 ('95.60',),
 ('89.20',),
 ('92.80',),
 ('93.80',),
 ('93.90',),
 ('93.80',),
 ('96.30',),
 ('93.10',),
 ('92.80',),
 ('90.30',),
 ('68.80',),
 ('95.90',),
 ('74.40',),
 ('95.50',),
 ('91.70',),
 ('92.50',),
 ('91.40',),
 ('95.40',),
 ('94.10',),
 ('95.20',),
 ('92.50',),
 ('95.90',),
 ('95.50',),
 ('91.90',),
 ('91.30',),
 ('94.70',),
 ('92.60',),
 ('91.60',),
 ('94.80',),
 ('86.10',),
 ('96.70',),
 ('90.70',),
 ('95.30',),
 ('97.30',),
 ('93.40',),
 ('95.10',),
 ('94.70',),
 ('92.90',),
 ('92.50',),
 ('94.60',),
 ('95.40',),
 ('94.20',),
 ('62.50',),
 ('97.60',),
 ('96.90',),
 ('96.10',),
 ('89.30',),
 ('92.90',),
 ('95.00',),
 ('93.40',),
 ('95.10',),
 ('95.30',),
 ('88.90',),
 ('93.30',),
 ('95.40',),
 ('78.40',),
 ('93.80',),
 ('84.30',),
 ('91.60',),
 ('89.70',),
 ('95.80',),
 ('95.60',),
 ('95.20',),
 ('95.10',),
 ('94.30',),
 ('90.60',),
 ('95.50',),
 ('84.80',),
 ('96.60',),
 ('88.00',),
 ('89.90',),
 ('95.80',),
 ('92.20',),
 ('95.40',),
 ('92.90',),
 ('96.80',),
 ('95.90',),
 ('96.10',),
 ('93.40',),
 ('96.80',),
 ('80.00',),
 ('96.30',),
 ('93.40',),
 ('90.00',),
 ('95.60',),
 ('93.40',),
 ('93.70',),
 ('95.10',),
 ('93.50',),
 ('90.60',),
 ('91.90',),
 ('91.90',),
 ('92.50',),
 ('91.90',),
 ('95.90',),
 ('96.60',),
 ('97.00',),
 ('95.80',),
 ('96.80',),
 ('96.90',),
 ('79.20',),
 ('94.70',),
 ('72.40',),
 ('94.70',),
 ('87.00',),
 ('72.50',),
 ('95.00',),
 ('92.00',),
 ('92.10',),
 ('96.30',),
 ('93.20',),
 ('96.30',),
 ('94.40',),
 ('71.30',),
 ('92.60',),
 ('91.00',),
 ('93.50',),
 ('93.90',),
 ('91.60',),
 ('90.90',),
 ('95.50',),
 ('80.20',),
 ('93.80',),
 ('93.60',),
 ('91.40',),
 ('95.90',),
 ('95.20',),
 ('91.90',),
 ('87.50',),
 ('95.00',),
 ('91.50',),
 ('89.30',),
 ('87.10',),
 ('95.80',),
 ('95.00',),
 ('96.10',),
 ('93.80',),
 ('96.20',),
 ('96.90',),
 ('93.80',),
 ('96.70',),
 ('96.20',),
 ('95.20',),
 ('96.20',),
 ('95.10',),
 ('91.80',),
 ('95.10',),
 ('72.00',),
 ('95.00',),
 ('72.20',),
 ('95.90',),
 ('92.60',),
 ('91.90',),
 ('70.50',),
 ('92.90',),
 ('93.20',),
 ('92.10',),
 ('92.20',),
 ('96.20',),
 ('92.90',),
 ('95.50',),
 ('95.50',),
 ('91.10',),
 ('92.10',),
 ('90.50',),
 ('95.40',),
 ('87.60',),
 ('94.20',),
 ('96.50',),
 ('96.20',),
 ('96.40',),
 ('95.40',),
 ('94.90',),
 ('95.10',),
 ('91.80',),
 ('95.50',),
 ('91.40',),
 ('93.20',),
 ('97.00',),
 ('92.20',),
 ('97.80',),
 ('94.70',),
 ('96.00',),
 ('88.90',),
 ('95.70',),
 ('94.10',),
 ('93.10',),
 ('91.30',),
 ('92.00',),
 ('95.80',),
 ('95.10',),
 ('95.10',),
 ('93.80',),
 ('95.60',),
 ('95.90',),
 ('95.60',),
 ('95.90',),
 ('95.60',),
 ('98.40',),
 ('93.20',),
 ('95.30',),
 ('92.90',),
 ('83.00',),
 ('94.10',),
 ('94.90',),
 ('78.20',),
 ('93.00',),
 ('92.90',),
 ('94.40',),
 ('95.40',),
 ('97.20',),
 ('96.20',),
 ('95.50',),
 ('95.70',),
 ('74.10',),
 ('81.20',),
 ('95.20',),
 ('92.40',),
 ('95.90',),
 ('96.30',),
 ('91.90',),
 ('96.20',),
 ('94.00',),
 ('93.50',),
 ('94.00',),
 ('95.30',),
 ('92.40',),
 ('95.90',),
 ('95.90',),
 ('95.60',),
 ('95.00',),
 ('95.80',),
 ('96.50',),
 ('96.10',),
 ('95.50',),
 ('96.40',),
 ('95.20',),
 ('95.40',),
 ('94.90',),
 ('95.00',),
 ('94.80',),
 ('95.80',),
 ('96.00',),
 ('90.50',),
 ('96.00',),
 ('83.40',),
 ('96.30',),
 ('74.40',),
 ('88.40',),
 ('87.70',),
 ('90.00',),
 ('96.80',),
 ('95.10',),
 ('96.10',),
 ('92.90',),
 ('91.00',),
 ('96.30',),
 ('94.70',),
 ('97.40',),
 ('91.80',),
 ('84.60',),
 ('95.00',),
 ('96.70',),
 ('95.10',),
 ('94.70',),
 ('95.20',),
 ('96.60',),
 ('92.60',),
 ('95.50',),
 ('95.00',),
 ('93.70',),
 ('89.20',),
 ('95.20',),
 ('95.40',),
 ('94.30',),
 ('92.50',),
 ('95.80',),
 ('66.80',),
 ('95.90',),
 ('94.00',),
 ('95.50',),
 ('96.80',),
 ('85.00',),
 ('91.30',),
 ('96.80',),
 ('97.10',),
 ('96.30',),
 ('93.10',),
 ('93.90',),
 ('95.50',),
 ('95.10',),
 ('94.90',),
 ('95.50',),
 ('95.50',),
 ('95.90',),
 ('94.40',),
 ('93.30',),
 ('90.40',),
 ('90.90',),
 ('95.10',),
 ('94.90',),
 ('91.80',),
 ('93.30',),
 ('94.60',),
 ('79.10',),
 ('91.50',),
 ('91.30',),
 ('95.70',),
 ('91.40',),
 ('84.20',),
 ('93.60',),
 ('80.40',),
 ('96.00',),
 ('93.30',),
 ('89.20',),
 ('92.10',),
 ('95.50',),
 ('94.50',),
 ('91.60',),
 ('92.90',),
 ('95.10',),
 ('94.70',),
 ('78.60',),
 ('80.20',),
 ('96.20',),
 ('75.60',),
 ('96.20',),
 ('81.70',),
 ('93.40',),
 ('93.90',),
 ('95.60',),
 ('88.60',),
 ('95.60',),
 ('95.70',),
 ('74.60',),
 ('89.80',),
 ('93.40',),
 ('95.50',),
 ('94.20',),
 ('96.40',),
 ('92.60',),
 ('87.00',),
 ('96.50',),
 ('97.60',),
 ('66.30',),
 ('92.20',),
 ('92.70',),
 ('95.00',),
 ('92.00',),
 ('94.90',),
 ('89.80',),
 ('95.10',),
 ('93.60',),
 ('76.90',),
 ('92.40',),
 ('73.50',),
 ('92.10',),
 ('96.20',),
 ('95.80',),
 ('96.20',),
 ('96.40',),
 ('93.90',),
 ('95.60',),
 ('92.10',),
 ('92.10',),
 ('96.00',),
 ('94.20',),
 ('96.10',),
 ('97.60',),
 ('94.90',),
 ('94.90',),
 ('86.30',),
 ('95.30',),
 ('95.00',),
 ('94.90',),
 ('94.40',),
 ('57.90',),
 ('93.70',),
 ('81.10',),
 ('96.00',),
 ('89.80',),
 ('95.10',),
 ('96.60',),
 ('90.70',),
 ('95.20',),
 ('92.70',),
 ('94.40',),
 ('69.60',),
 ('94.80',),
 ('81.60',),
 ('93.80',),
 ('90.70',),
 ('96.30',),
 ('92.40',),
 ('94.70',),
 ('95.10',),
 ('95.10',),
 ('95.40',),
 ('93.60',),
 ('96.30',),
 ('95.00',),
 ('93.90',),
 ('96.80',),
 ('90.90',),
 ('93.00',),
 ('96.40',),
 ('95.80',),
 ('89.50',),
 ('95.30',),
 ('93.60',),
 ('85.50',),
 ('92.50',),
 ('95.60',),
 ('96.20',),
 ('92.10',),
 ('95.60',),
 ('87.60',),
 ('96.40',),
 ('96.60',),
 ('96.20',),
 ('95.90',),
 ('87.30',),
 ('95.40',),
 ('90.80',),
 ('82.30',),
 ('92.10',),
 ('96.60',),
 ('91.20',),
 ('94.40',),
 ('95.20',),
 ('94.80',),
 ('95.20',),
 ('96.10',),
 ('89.30',),
 ('94.00',),
 ('95.80',),
 ('88.70',),
 (None,),
 ('92.80',),
 ('95.50',),
 ('84.50',),
 ('96.40',),
 ('95.10',),
 ('93.40',),
 ('95.50',),
 ('92.40',),
 ('86.10',),
 ('95.50',),
 ('95.60',),
 ('74.10',),
 ('93.90',),
 ('63.00',),
 ('92.10',),
 ('93.70',),
 ('91.20',),
 ('94.90',),
 ('94.60',),
 ('96.20',),
 ('94.90',),
 ('91.70',),
 ('96.90',),
 ('95.10',),
 ('96.10',),
 ('93.50',),
 ('93.30',),
 ('95.50',),
 ('95.20',),
 ('96.50',),
 ('92.80',),
 ('92.40',),
 ('89.10',),
 ('93.50',),
 ('95.10',),
 ('93.00',),
 ('95.70',),
 ('75.20',),
 ('95.30',),
 ('95.70',),
 ('93.80',),
 ('90.30',),
 ('91.80',),
 ('95.60',),
 ('95.60',),
 ('73.00',),
 ('91.60',),
 ('93.30',),
 ('92.30',),
 ('91.20',),
 ('95.20',),
 ('93.90',),
 ('91.60',)]

##### Which Schools have Average Student Attendance lower than 70%?

In [40]:
%sql select NAME_OF_SCHOOL, Average_Student_Attendance from SCHOOLS \
where replace((Average_Student_Attendance), '%', '') < 70 \
order by Average_Student_Attendance

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Chicago Vocational Career Academy High School', '68.80%'),
 ('Roberto Clemente Community Academy High School', '69.60%')]


##### Getting the total College Enrollment for each Community Area

In [47]:
%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871),
 ('EDISON PARK', 910),
 ('HEGEWISCH', 963),
 ('MONTCLARE', 1317),
 ('NEAR SOUTH SIDE', 1378),
 ('FOREST GLEN', 1431),
 ('ARMOUR SQUARE', 1458),
 ('AVALON PARK', 1522),
 ('RIVERDALE', 1547),
 ('MCKINLEY PARK', 1552),
 ('CALUMET HEIGHTS', 1568),
 ('PULLMAN', 1620),
 ('BEVERLY', 1636),
 ('JEFFERSON PARK', 1755),
 ('SOUTH DEERING', 1859),
 ('HYDE PARK', 1930),
 ('CLEARING', 2085),
 ('MOUNT GREENWOOD', 2091),
 ('WEST GARFIELD PARK', 2622),
 ('WASHINGTON PARK', 2648),
 ('GRAND BOULEVARD', 2809),
 ('BRIDGEPORT', 3167),
 ('WEST PULLMAN', 3240),
 ('MORGAN PARK', 3271),
 ('NEAR NORTH SIDE', 3362),
 ('AVONDALE', 3640),
 ('WEST ELSDON', 3700),
 ('HERMOSA', 3975),
 ('WASHINGTON HEIGHTS', 4006),
 ('SOUTH CHICAGO', 4043),
 ('GREATER GRAND CROSSING', 4051),
 ('ROGERS PARK', 4068),
 ('LINCOLN SQUARE', 4132),
 ('AUBURN GRESHAM', 4175),
 ('WOODLAWN', 4206),
 ('WEST LAWN', 4207),
 ('NORTH PARK', 4210),
 ('KENWOOD', 4287),
 ('UPTOWN', 4388),
 ('SOUTH SHORE', 4543),
 ('GARFIELD RIDGE', 4552),
 ('DUNNING', 4568),
 ('EDGEWATER', 4600),
 ('DOUGLAS', 4670),
 ('ARCHER HEIGHTS', 4823),
 ('CHATHAM', 5042),
 ('NORTH LAWNDALE', 5146),
 ('EAST SIDE', 5305),
 ('EAST GARFIELD PARK', 5337),
 ('LINCOLN PARK', 5615),
 ('WEST ENGLEWOOD', 5946),
 ('NORWOOD PARK', 6469),
 ('ASHBURN', 6483),
 ('ENGLEWOOD', 6832),
 ('ALBANY PARK', 6864),
 ('PORTAGE PARK', 6954),
 ('ROSELAND', 7020),
 ('LAKE VIEW', 7055),
 ('CHICAGO LAWN', 7086),
 ('LOWER WEST SIDE', 7257),
 ('LOGAN SQUARE', 7351),
 ('NORTH CENTER', 7541),
 ('IRVING PARK', 7764),
 ('NEW CITY', 7922),
 ('NEAR WEST SIDE', 7975),
 ('WEST RIDGE', 8197),
 ('HUMBOLDT PARK', 8620),
 ('WEST TOWN', 9429),
 ('BRIGHTON PARK', 9647),
 ('GAGE PARK', 9915),
 ('AUSTIN', 10933),
 ('BELMONT CRAGIN', 14386),
 ('SOUTH LAWNDALE', 14793)]


##### Getting the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [49]:
%sql select COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) as TOTAL_COLLEGE_ENROLLMENT \
from SCHOOLS \
group by COMMUNITY_AREA_NAME \
order by TOTAL_COLLEGE_ENROLLMENT LIMIT 5

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

##### Getting 5 schools with lowest safety score.

In [53]:
%sql select NAME_OF_SCHOOL, SAFETY_SCORE from SCHOOLS \
order by SAFETY_SCORE asc \
fetch first 5 rows only

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Edmond Burke Elementary School', 1),
 ("Luke O'Toole Elementary School", 5),
 ('George W Tilton Elementary School', 6),
 ('Foster Park Elementary School', 11),
 ('Emil G Hirsch Metropolitan High School', 13)]


##### Getting the hardship index for the community area which has College Enrollment of 4368

In [82]:
%sql select hardship_index from SCHOOLS as S, CHICAGO_SOCIOECONOMIC_DATA \
where S.COMMUNITY_AREA_NUMBER = CHICAGO_SOCIOECONOMIC_DATA.CA \
and S.COLLEGE_ENROLLMENT = 4368

# %sql select COMMUNITY_AREA_NAME from CHICAGO_SOCIOECONOMIC_DATA

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(6.0,)]

##### Getting the hardship index for the community area which has the school with the  highest enrollment.

In [86]:
# %sql select hardship_index from SCHOOLS as S, CHICAGO_SOCIOECONOMIC_DATA \
# where S.COMMUNITY_AREA_NUMBER = CHICAGO_SOCIOECONOMIC_DATA.CA \
# and S.COLLEGE_ENROLLMENT = (select max(COLLEGE_ENROLLMENT) from SCHOOLS)

%sql select ca, community_area_name, hardship_index from chicago_socioeconomic_data \
   where ca in \
   ( select community_area_number from schools order by college_enrollment desc limit 1 )

 * ibm_db_sa://zzy63770:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(5.0, 'North Center', 6.0)]